.sidebar1 {
	float: left;
	width: 180px;
	background-color: #0f8488;
	padding-bottom: 10px;
}
.content {

	padding: 10px 0;
	width: 600px;
	float: left;
}
.sidebar2 {
	float: left;
	width: 180px;
	background-color: #0f8488;
	padding: 10px 0;
}

/* */
