/** ADD YOUR AWESOME CODES HERE **/


#correo img {
    width: 35px;
    height: 35px;
}

.cursos img {
    width: 400px;
    height: 300px;
}

.login {
    margin-top: 25px;
    margin-bottom: 25px;
}

.login .card {
    width: 75%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.loginEstudiante {
    /* margin-top: 25px;
    margin-bottom: 25px; */
    padding-top: 10px;
}

.loginEstudiante .card {
    width: 80%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
